@charset "UTF-8";
html {
  background: black;
  font-size: 62.5%;
  /* 10rem reset */
}

* {
  box-sizing: border-box;
}

body {
  background: #fff7f8;
  border-top: 0.5rem solid black;
  border-bottom: 0.5rem solid black;
  width: 100%;
  margin: 0 auto;
  font-family: "Abhaya Libre", serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

.content-wrap {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}

section,
header,
footer {
  border-bottom: 0.3rem solid black;
  padding: 3rem 0;
}

footer {
  border-bottom: 0;
}

h1, h2, h3 {
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  display: inline-block;
}
h2:first-child {
  margin-top: 0;
}

a {
  color: #f43f44;
  text-decoration: none;
  display: inline-block;
  padding: 0.1rem 0.3rem 0;
  margin: 0 -0.3rem;
  line-height: 1.1;
}
a:hover, a:focus {
  color: #fff;
  background-color: #f43f44;
}

p {
  margin-top: 2rem;
}
p:last-child {
  margin-bottom: 0;
}
p a {
  padding: 0.2rem 0.1rem 0;
  margin: 0 0 0 -0.1rem;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0 0 0 1.5rem;
}
ul li::before {
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
  content: "—";
}

.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  /* Safari 7.0+ */
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  /* Safari 7.0+ */
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  /* Safari 7.0+ */
  align-items: flex-start;
  height: 100%;
}

.column {
  padding: 0 0 1rem;
}
.column:last-child {
  padding-bottom: 0;
}
@media only screen and (min-width: 450px) {
  .column {
    padding: 0 1rem;
  }
}

h1 {
  font-size: 5rem;
  margin: 1rem 0;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  h1 {
    margin: 0;
    text-align: left;
  }
}

.about {
  margin-top: 5rem;
}
@media only screen and (min-width: 450px) {
  .about .column {
    margin: 0 -1rem;
  }
}
@media only screen and (min-width: 769px) {
  .about .column:nth-child(odd) {
    margin-left: -1rem;
    margin-right: 0;
  }
  .about .column:nth-child(even) {
    margin-left: 0;
    margin-right: -1rem;
  }
}
.about .image {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .about .image {
    width: 45%;
  }
}
.about .text {
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .about .text p {
    margin-top: 0;
  }
}
@media only screen and (min-width: 769px) {
  .about .text {
    width: 55%;
  }
}
.about img {
  display: block;
  max-width: 30rem;
  width: 100%;
  border: 0.3rem solid black;
  margin: 0 auto;
}

.skills .column {
  width: 100%;
  padding: 0 0 2rem;
}
.skills .column:last-child {
  padding-bottom: 0;
}
@media only screen and (min-width: 450px) {
  .skills .column {
    width: 50%;
    padding: 0 1rem;
  }
  .skills .column:nth-child(odd) {
    margin-left: -1rem;
  }
  .skills .column:nth-child(even) {
    margin-right: -1rem;
  }
}
@media only screen and (min-width: 769px) {
  .skills .column {
    width: 33.333%;
  }
  .skills .column:nth-child(odd) {
    margin-left: 0;
  }
  .skills .column:nth-child(even) {
    margin-right: 0;
  }
  .skills .column:first-child {
    margin-left: -1rem;
  }
  .skills .column:last-child {
    margin-right: -1rem;
  }
}
.skills h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.experience h2,
.projects h2 {
  margin-bottom: 0;
}
.experience .grid,
.projects .grid {
  border-bottom: 0.1rem solid black;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.experience .grid:first-of-type,
.projects .grid:first-of-type {
  padding-top: 0;
}
.experience .grid:last-child,
.projects .grid:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.projects .grid {
  border-bottom: 0;
}
.projects .column {
  width: 100%;
}
@media only screen and (min-width: 450px) {
  .projects .column {
    width: 50%;
  }
  .projects .column:nth-child(odd) {
    margin-left: -1rem;
  }
  .projects .column:nth-child(even) {
    margin-right: -1rem;
  }
}
.projects h3 {
  margin-bottom: 0;
}
.projects p {
  margin: 0;
  font-style: italic;
}
.projects ul {
  font-weight: 700;
}

.experience .grid .title {
  width: 100%;
}
@media only screen and (min-width: 450px) {
  .experience .grid .title {
    width: 30%;
  }
}
.experience .grid .description {
  width: 100%;
}
@media only screen and (min-width: 450px) {
  .experience .grid .description {
    width: 70%;
  }
}
.experience .grid .column {
  padding-bottom: 0;
}
@media only screen and (min-width: 450px) {
  .experience .grid .column:first-child {
    margin-left: -1rem;
  }
  .experience .grid .column:last-child {
    margin-right: -1rem;
  }
}
.experience .grid h3 {
  margin-bottom: 0;
}
.experience .grid h4 {
  margin: 0;
}
.experience .grid .timeframe {
  margin-top: 0;
}

footer {
  text-align: center;
}
footer li {
  padding: 0;
}
footer li::before {
  display: none;
}
footer .social {
  text-align: center;
}
footer .social li {
  display: inline-block;
  padding: 0 1rem;
}
footer .email {
  text-align: center;
  padding: 1rem 0;
}

/*
 * Easter egg!
 *
 * Creating a donut border that appears when "donut" is typed
 *
 */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse2 {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jiggle1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes jiggle2 {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes jiggle3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
@keyframes jiggle4 {
  0%, 100% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
}
.jiggle, .dancing-donuts .donut {
  animation: jiggle1 0.3s linear, jiggle2 0.4s linear infinite;
  animation-delay: 0s, 0.3s;
}

.jiggle2, .dancing-donuts .top-left .donut {
  animation: jiggle3 0.2s linear, jiggle4 0.3s linear infinite;
  animation-delay: 0s, 0.5s;
}

.jiggle3, .dancing-donuts .bottom-right .donut {
  animation: jiggle1 0.3s linear, jiggle4 0.4s linear infinite;
  animation-delay: 0s, 0.1s;
}

.jiggle4, .dancing-donuts .middle-right .donut {
  animation: jiggle3 0.3s linear, jiggle2 0.5s linear infinite;
  animation-delay: 0s, 0.5s;
}

.pulse, .dancing-donuts .top-right .donut {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.pulse2, .dancing-donuts .bottom-left .donut {
  animation-name: pulse2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.dancing-donuts {
  position: relative;
  opacity: 0;
  transition: all 0.5s linear;
  z-index: 99;
}
.dancing-donuts .donut {
  position: fixed;
  background: url("i/mini-donut-1-blue-icing-green-sprinkles.png") no-repeat;
  background-size: 75px;
  height: 0;
  width: 0;
  border-radius: 50%;
  transition: filter 0.3s ease-out, box-shadow 1s linear, width 0.5s ease, height 0.5s ease;
}
.dancing-donuts .donut a {
  display: block;
  width: 100%;
  height: 100%;
}
.dancing-donuts iframe {
  position: fixed;
  width: 0;
  height: 0;
  transition: border 0.1s ease-in, width 1s ease, height 0.5s ease;
}
.dancing-donuts .top-left .donut {
  background: url("i/mini-donut-1-blue-icing-white-sprinkles.png") no-repeat;
  background-size: 75px;
  top: 10px;
  left: 10px;
}
.dancing-donuts .top-left iframe {
  top: 10px;
  left: 100px;
}
.dancing-donuts .top-left:hover iframe, .dancing-donuts .top-left:focus iframe {
  width: 500px;
  height: 225px;
}
.dancing-donuts .top-right .donut {
  background: url("i/mini-donut-3-pink-icing-white-sprinkles.png") no-repeat;
  background-size: 75px;
  top: 10px;
  right: 10px;
}
.dancing-donuts .top-right iframe {
  top: 10px;
  right: 100px;
}
.dancing-donuts .top-right:hover iframe, .dancing-donuts .top-right:focus iframe {
  width: 499px;
  height: 281px;
}
.dancing-donuts .middle-left .donut {
  background: url("i/mini-donut-5-green-frosting-white-sprinkles.png") no-repeat;
  background-size: 75px;
  left: 10px;
  top: 44%;
}
.dancing-donuts .middle-left iframe {
  top: 35%;
  left: 100px;
}
.dancing-donuts .middle-left:hover iframe, .dancing-donuts .middle-left:focus iframe {
  width: 470px;
  height: 264px;
}
.dancing-donuts .middle-right .donut {
  background: url("i/mini-donut-1-blue-icing-green-sprinkles.png") no-repeat;
  background-size: 75px;
  right: 10px;
  top: 44%;
}
.dancing-donuts .middle-right iframe {
  top: 30%;
  right: 100px;
}
.dancing-donuts .middle-right:hover iframe, .dancing-donuts .middle-right:focus iframe {
  width: 540px;
  height: 360px;
}
.dancing-donuts .bottom-left .donut {
  background: url("i/mini-donut-7-pink-icing-blue-sprinkles.png") no-repeat;
  background-size: 75px;
  bottom: 10px;
  left: 10px;
}
.dancing-donuts .bottom-left iframe {
  bottom: 10px;
  left: 100px;
}
.dancing-donuts .bottom-left:hover iframe, .dancing-donuts .bottom-left:focus iframe {
  width: 360px;
  height: 332px;
}
.dancing-donuts .bottom-right .donut {
  background: url("i/mini-donut-7-green-icing-pink-sprinkles.png") no-repeat;
  background-size: 75px;
  bottom: 10px;
  right: 10px;
}
.dancing-donuts .bottom-right iframe {
  bottom: 10px;
  right: 100px;
}
.dancing-donuts .bottom-right:hover iframe, .dancing-donuts .bottom-right:focus iframe {
  width: 500px;
  height: 280px;
}

body.donut .dancing-donuts {
  opacity: 1;
}
body.donut .dancing-donuts .donut {
  height: 75px;
  width: 75px;
  box-shadow: 0 0 50px #fff;
}

/*# sourceMappingURL=style.css.map */
